<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Rekisteröidy</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
  <div class="container">
    <h1>Rekisteröidy</h1>
    <form th:action="@{/register}" th:object="${appUser}" method="post">
      <div>
        <label for="username">Käyttäjätunnus:</label>
        <input type="text" id="username" th:field="*{username}" required/>
      </div>
      <div>
        <label for="password">Salasana:</label>
        <input type="password" id="password" th:field="*{password}" required/>
      </div>
      <div>
        <button type="submit" class="button add-button">Rekisteröidy</button>
      </div>
    </form>
    <p>Onko sinulla jo tunnus? <a th:href="@{/login}">Kirjaudu tästä</a></p>
  </div>
</body>
</html